<div class="splitcontent">
  <div class="splitcontentleft">
  </div>
  <div class="splitcontentright">
    <p style="text-align: right;">
      <%= will_paginate @delivery_histories, :previous_label => "前 &lt;&lt; ",
        :link_separator => "#{page_entries_info @delivery_histories}", :container => false,
        :next_label => " &gt;&gt; 次", :page_links => false %>
    </p>
  </div>
</div>
<div class="autoscroll" >
  <table class="list issues">
    <thead>
      <tr>
        <th style="text-align: center;"><%= sort_link @search, :issue_id,                "チケット番号", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :delivery_place_id,       "配信先", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :status,                  "ステータス", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :created_at,              "要求日時", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :request_user_lastname,   "要求者", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :issue_subject,           "題名", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :process_date,            "処理日", {page: params[:page]}%></th>
        <th style="text-align: center;"><%= sort_link @search, :respond_user_lastname,   "処理者", {page: params[:page]}%></th>
      </tr>
    </thead>
    <tbody>
      <% unless @delivery_histories.blank? %>
        <% @delivery_histories.each do |d_h| -%>
          <tr class="hascontextmenu <%= cycle('odd', 'even') %>">
            <td style="text-align: left;">
               <%= link_to d_h.issue_id, issue_path(d_h.issue) %>
            </td>
            <td style="text-align: left;"><%= DST_LIST['delivery_place'][d_h.delivery_place_id]['name'] %></td>
            <td style="text-align: left;"><%= l(d_h.status, :scope => "delivery_status") %></td>
            <td style="text-align: left;"><%= format_time(d_h.created_at) %></td>
            <td style="text-align: left;"><%= d_h.request_user.lastname + d_h.request_user.firstname if d_h.request_user.present? %></td>
            <td style="text-align: left;"><%= d_h.issue.subject %></td>
            <td style="text-align: left;"><%= format_time(d_h.process_date)  if d_h.process_date.present?%></td>
            <td style="text-align: left;"><%= d_h.respond_user.lastname + d_h.respond_user.firstname if d_h.respond_user.present? %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

