<div class="splitcontent">
  <div class="splitcontentleft">
  </div>
  <div class="splitcontentright">
    <p style="text-align: right;">
      <%= will_paginate @delivery_histories, :previous_label => "前 &lt;&lt; ",
        :link_separator => "#{page_entries_info @delivery_histories}", :container => false,
        :next_label => " &gt;&gt; 次", :page_links => false %>
    </p>
  </div>
</div>
<div class="autoscroll" >
  <table class="list issues">
    <thead>
      <tr>
        <th style="text-align: center;">チケット番号</th>
        <th style="text-align: center;">配信先</th>
        <th style="text-align: center;">ステータス</th>
        <th style="text-align: center;">要求日時</th>
        <th style="text-align: center;">要求者</th>
        <th style="text-align: center;">題名</th>
        <th style="text-align: center;">処理日</th>
        <th style="text-align: center;">処理者</th>
      </tr>
    </thead>
    <tbody>
      <% unless @delivery_histories.blank? %>
        <% @delivery_histories.each do |d_h| -%>
          <tr class="hascontextmenu <%= cycle('odd', 'even') %>">
            <td style="text-align: left;">
               <%= link_to d_h.issue_id, issue_path(d_h.issue) %>
            </td>
            <td style="text-align: left;"><%= DST_LIST['delivery_place'][d_h.delivery_place_id]['name'] %></td>
            <td style="text-align: left;"><%= DST_LIST['status'][d_h.status] %></td>
            <td style="text-align: left;"><%= format_time(d_h.created_at) %></td>
            <td style="text-align: left;"><%= d_h.request_user.lastname + d_h.request_user.firstname %></td>
            <td style="text-align: left;"><%= d_h.issue.subject %></td>
            <td style="text-align: left;"><%= format_time(d_h.process_date)  if d_h.process_date.present?%></td>
            <td style="text-align: left;"><%= d_h.respond_user.lastname + d_h.respond_user.firstname %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

