<%= stylesheet_link_tag 'statistics', :plugin => 'lgdis' %>
<ul></ul>
<h3>統計情報</h3>
<div class="statistics box">
<table border="1" width="320">
  <tr>
    <th colspan="2">対象</th>
    <th colspan="2">統計値</th>
  </tr>
  
  <tr>
    <td rowspan="4">人的被害</td>
    <td>死亡</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_dead_count"], project.id]))[0]["count"] %></td>
    <td class="unit">人</td>
  </tr>
  <tr>
    <td>行方不明者</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_missing_count"], project.id]))[0]["count"] %></td>
    <td class="unit">人</td>
  </tr>
  <tr>
    <td>重傷</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_seriously_injured_count"], project.id]))[0]["count"] %></td>
    <td class="unit">人</td>
  </tr>
  <tr>
    <td>軽傷</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_slightly_injured_count"], project.id]))[0]["count"] %></td>
    <td class="unit">人</td>
  </tr>
  
  <tr>
    <td rowspan="10">住家被害</td>
    <td rowspan="2">全壊</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_complete_collapse_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_complete_collapse_households_count"], project.id]))[0]["count"] %></td>
    <td class="unit">世帯</td>
  </tr>
  <tr>
    <td rowspan="2">半壊</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_half_collapse_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_half_collapse_households_count"], project.id]))[0]["count"] %></td>
    <td class="unit">世帯</td>
  </tr>
  <tr>
    <td rowspan="2">一部損壊</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_partial_damage_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_partial_damage_households_count"], project.id]))[0]["count"] %></td>
    <td class="unit">世帯</td>
  </tr>
  <tr>
    <td rowspan="2">床上浸水</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_inundation_above_floor_level_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_inundation_above_floor_level_households_count"], project.id]))[0]["count"] %></td>
    <td class="unit">世帯</td>
  </tr>
  <tr>
    <td rowspan="2">床下浸水</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_inundation_under_floor_level_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_inundation_under_floor_level_households_count"], project.id]))[0]["count"] %></td>
    <td class="unit">世帯</td>
  </tr>
  
  <tr>
    <td rowspan="2">非住家</td>
    <td>公共建物</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_public_building_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  <tr>
    <td>その他</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_other_building_count"], project.id]))[0]["count"] %></td>
    <td class="unit">棟</td>
  </tr>
  
  <tr>
    <td rowspan="9">その他</td>
    <td>文教施設</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_educational_facilities_count"], project.id]))[0]["count"] %></td>
    <td class="unit">箇所</td>
  </tr>
  <tr>
    <td>病院</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_hospitals_count"], project.id]))[0]["count"] %></td>
    <td class="unit">箇所</td>
  </tr>
  <tr>
    <td>道路</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_roads_count"], project.id]))[0]["count"] %></td>
    <td class="unit">箇所</td>
  </tr>
  <tr>
    <td>橋梁</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_bridges_count"], project.id]))[0]["count"] %></td>
    <td class="unit">箇所</td>
  </tr>
  <tr>
    <td>河川</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_damaged_rivers_count"], project.id]))[0]["count"] %></td>
    <td class="unit">箇所</td>
  </tr>
  <tr>
    <td>水道</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_water_failure_houses_count"], project.id, project.id]))[0]["count"] %></td>
    <td class="unit">戸</td>
  </tr>
  <tr>
    <td>電話</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_dead_telephone_lines_count"], project.id]))[0]["count"] %></td>
    <td class="unit">回線</td>
  </tr>
  <tr>
    <td>電気</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_blackout_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">戸</td>
  </tr>
  <tr>
    <td>ガス</td>
    <td class="num"><%= ActiveRecord::Base.connection.execute( ActiveRecord::Base.send(:sanitize_sql_array, [STATISTICS_SQL["sql_gas_supply_stopped_houses_count"], project.id]))[0]["count"] %></td>
    <td class="unit">戸</td>
  </tr>
  
</table>
</div>


