<%= error_messages_for 'shelter' %>
<div class="nonsplitcontent">
  <%= field_for :shelter_type, :required => true do |key, label| %>
    <%= label_tag{label} %>
    <%= f.select key, options_for_select(@shelter_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
  <% end %>
  
  <%= field_for :shelter_type_detail do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'100',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :name, :required => true do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'50',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :name_kana, :required => true do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'100',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :area, :required => true do |key, label| %>
    <%= label_tag{label} %>
    <%= f.select key, options_for_select(@areas.map{|v| [v.name,v.area_code]}, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
  <% end %>
  
  <%= field_for :address, :required => true do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'100',:disabled => @disabled %>
  <% end %>
</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :phone do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'14',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :e_mail do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :shelter_sort, :required => true do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@shelter_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :opened_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field :opened_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_opened_date") unless @disabled %>
      <%= f.text_field :opened_hm,:size=>'5',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :status do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@shelter_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :capacity do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
  </div>
  
  <div class="splitcontentright">
    <%= field_for :fax do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'14',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :person_responsible do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
    
    <p />
    
    <%= field_for :closed_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field :closed_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_closed_date") unless @disabled %>
      <%= f.text_field :closed_hm,:size=>'5',:disabled => @disabled %>
    <% end %>
  </div>
</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :head_count do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :head_count_voluntary do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :checked_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field :checked_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_checked_date") unless @disabled %>
      <%= f.text_field :checked_hm,:size=>'5',:disabled => @disabled %>
    <% end %>
  </div>
  
  <div class="splitcontentright">
    <%= field_for :households do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :households_voluntary do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
  </div>
</div>

<hr>

<div class="splitcontent">
  <div class="split3contentleft">
    <%= field_for :manager_code do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
  </div>
  <div class="split3contentcenter">
    <%= field_for :manager_name do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
  </div>
  <div class="split3contentright">
    <%= field_for :manager_another_name do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
  </div>
</div>
  
<div class="nonsplitcontent">
  <%= field_for :reported_at do |key, label| %>
    <%= label_tag{label} %>
      <%= f.text_field :reported_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_reported_date") unless @disabled %>
      <%= f.text_field :reported_hm,:size=>'5',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :building_damage_info do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :electric_infra_damage_info do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :communication_infra_damage_info do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :other_damage_info do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
</div>

<div class="split3contentleft">
  <%= field_for :usable_flag do |key, label| %>
    <%= label_tag{label} %>
    <%= f.select key, options_for_select(@shelter_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
  <% end %>
  
  <%= field_for :injury_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :elderly_couple_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :rehabilitation_certificate_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
</div>

<div class="split3contentcenter">
  <%= field_for :openable_flag do |key, label| %>
    <%= label_tag{label} %>
    <%= f.select key, options_for_select(@shelter_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
  <% end %>
  
  <%= field_for :upper_care_level_three_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :bedridden_elderly_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :physical_disability_certificate_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
</div>

<div class="split3contentright">
  <p />
  
  <%= field_for :elderly_alone_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
  
  <%= field_for :elderly_dementia_count do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_field key,:size=>'10',:disabled => @disabled %>
  <% end %>
</div>

<div class="nonsplitcontent">
  <%= field_for :note do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
</div>

<% include_calendar_headers_tags %>