<table class="list">
  <thead>
    <tr>
      <th style="text-align: center;"><%= sort_link @search, :name,           "避難所名", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :shelter_type,   "避難所種別", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :area,           "地区名", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :phone,          "TEL", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :manager_name,   "管理者", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :shelter_sort,   "開設状況", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :opened_at,      "開設日時", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :closed_at,      "閉鎖日時", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :capacity,       "最大収容人数", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :head_count,     "収容人数", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :created_by,     "登録者名", {page: params[:page]}%></th>
      <th style="text-align: center;"><%= sort_link @search, :created_at,     "登録日", {page: params[:page]}%></th>
    </tr>
  </thead>
  <tbody>
    <% shelters.each do |shelter| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <%= hidden_field_tag "shelters[#{shelter.id}][updated_by]", User.current.login %>
        <td style="text-align: left;">
          <a href=<%= edit_project_shelter_path(@project, shelter) %> >
            <%= shelter.name %>
          </a>
        </td>
        <td style="text-align: left;"><%= @shelter_const["shelter_type"][shelter.shelter_type] %></td>
        <td style="text-align: left;"><%= @areas.select{|v| v.area_code == shelter.area}.first.try(:name) %></td>
        <td style="text-align: left;"><%= shelter.phone %></td>
        <td style="text-align: left;"><%= shelter.manager_name %></td>
        <td style="text-align: center;">
          <%= select_tag "shelters[#{shelter.id}][shelter_sort]", options_for_select(@shelter_const["shelter_sort"].invert,
            shelter.shelter_sort), {:include_blank => true, :disabled => @disabled} %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "shelters[#{shelter.id}][opened_at]",format_time_for_input(shelter, :opened_at), :size => "16", :disabled => @disabled %>
          <%= calendar_with_time_for("shelters_#{shelter.id}_opened_at") %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "shelters[#{shelter.id}][closed_at]",format_time_for_input(shelter, :closed_at), :size => "16", :disabled => @disabled %>
          <%= calendar_with_time_for("shelters_#{shelter.id}_closed_at") %>
        </td>
        <td style="text-align: left;"><%= shelter.capacity %></td>
        <td style="text-align: left;"><%= shelter.head_count %></td>
        <td style="text-align: left;"><%= shelter.created_by %></td>
        <td style="text-align: left;"><%= format_date(shelter.created_at) %></td>
      </tr>
    <% end if shelters.present? %>
  </tbody>
</table>

