<table class="list">
  <thead>
    <tr>
      <th style="text-align: center;">避難所名</th>
      <th style="text-align: center;">避難所種別</th>
      <th style="text-align: center;">地区名</th>
      <th style="text-align: center;">TEL</th>
      <th style="text-align: center;">管理者</th>
      <th style="text-align: center;">開設状況</th>
      <th style="text-align: center;">開設日時</th>
      <th style="text-align: center;">閉鎖日時</th>
      <th style="text-align: center;">最大収容人数</th>
      <th style="text-align: center;">収容人数</th>
      <th style="text-align: center;">登録者名</th>
      <th style="text-align: center;">登録日</th>
    </tr>
  </thead>
  <tbody>
    <% shelters.each do |shelter| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <%= hidden_field_tag "shelters[#{shelter.id}][updated_by]", User.current.login %>
        <td style="text-align: center;">
          <a href=<%= edit_project_shelter_path(@project, shelter) %> >
            <%= shelter.name %>
          </a>
        </td>
        <td style="text-align: center;"><%= @shelter_const["shelter_type"][shelter.shelter_type] %></td>
        <td style="text-align: center;"><%= @areas.select{|v| v.area_code == shelter.area}.first.try(:name) %></td>
        <td style="text-align: center;"><%= shelter.phone %></td>
        <td style="text-align: center;"><%= shelter.manager_name %></td>
        <td style="text-align: center;"><%= @shelter_const["shelter_sort"][shelter.shelter_sort] %></td>
        <td style="text-align: center;" nowrap><%= format_time(shelter.opened_at) %></td>
        <td style="text-align: center;" nowrap><%= format_time(shelter.closed_at) %></td>
        <td style="text-align: right;"><%= shelter.capacity %></td>
        <td style="text-align: right;"><%= shelter.head_count %></td>
        <td style="text-align: center;"><%= shelter.created_by %></td>
        <td style="text-align: center;"><%= format_date(shelter.created_at) %></td>
      </tr>
    <% end if shelters.present? %>
  </tbody>
</table>

