<table class="list">
  <thead>
    <tr>
      <th style="text-align: center;">避難所識別番号</th>
      <th style="text-align: center;">避難所名</th>
      <th style="text-align: center;">避難所種別</th>
      <th style="text-align: center;">地区名</th>
      <th style="text-align: center;">TEL</th>
      <th style="text-align: center;">管理者</th>
      <th style="text-align: center;">収容人数</th>
      <th style="text-align: center;">開設状況</th>
      <th style="text-align: center;">登録者名</th>
      <th style="text-align: center;">登録日</th>
    </tr>
  </thead>
  <tbody>
    <% shelters.each do |shelter| %>
      <tr class="<%= cycle("even", "odd") -%>" data-href="<%= edit_project_shelter_path(project, shelter) %>">
        <td style="text-align: center;"><%= shelter.shelter_code %></td>
        <td style="text-align: center;"><%= shelter.name %></td>
        <td style="text-align: center;"><%= @shelter_const["shelter_type"][shelter.shelter_type] %></td>
        <td style="text-align: center;">地区名</td>
        <td style="text-align: center;"><%= shelter.phone %></td>
        <td style="text-align: center;"><%= shelter.manager_name %></td>
        <td style="text-align: right;"><%= shelter.capacity %></td>
        <td style="text-align: center;"><%= @shelter_const["shelter_sort"][shelter.shelter_sort] %></td>
        <td style="text-align: center;">登録者</td>
        <td style="text-align: center;"><%= shelter.created_at.strftime("%y/%m/%d") %></td>
      </tr>
    <% end if shelters.present? %>
  </tbody>
</table>

