<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :shelter_type do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@shelter_const[key.to_s].invert, @search.shelter_type_eq),:include_blank => true) %>
    <% end %>
    
    <%= field_for :openable_flag do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@shelter_const[key.to_s].invert, @search.openable_flag_eq),:include_blank => true) %>
    <% end %>
    
    <%= field_for :usable_flag do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@shelter_const[key.to_s].invert, @search.usable_flag_eq),:include_blank => true) %>
    <% end %>
    
    <%= field_for :shelter_sort do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@shelter_const[key.to_s].invert, @search.shelter_sort_eq),:include_blank => true) %>
    <% end %>
    
    <%= field_for :status do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@shelter_const[key.to_s].invert, @search.status_eq),:include_blank => true) %>
    <% end %>
  </div>
  
  <div class="splitcontentright">
    <%= field_for :area do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_in", options_for_select(@areas.map{|v| [v.name,v.area_code]},
        (@search.area_in.blank? ? @areas.map{|v| [v.area_code]}.flatten : @search.area_in)), {}, {:multiple => true, :size => @areas.size}) %>
    <% end %>
  </div>
</div>

<% include_calendar_headers_tags %>
