<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :shelter_type do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag(key, options_for_select(@shelter_const[key.to_s].invert),:include_blank => true) %>
    <% end %>
    
    <%= field_for :location_area, :label => "地区名" do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag key,'' %>
    <% end %>
    
    <%= field_for :usable_flag do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag(key, options_for_select(@shelter_const[key.to_s].invert),:include_blank => true) %>
    <% end %>
    
    <%= field_for :opened_date do |key, label| %>
      <%= label_tag{label} %>
      <%= text_field_tag "#{key}_from",'',:size=>'10' %><%= calendar_for("#{key}_from") %>
      ～
      <%= text_field_tag "#{key}_to",'',:size=>'10' %><%= calendar_for("#{key}_to") %>
    <% end %>
  </div>
  
  <div class="splitcontentright">
    <%= field_for :name do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag key,'' %>
    <% end %>
    
    <%= field_for :openable_flag do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag(key, options_for_select(@shelter_const[key.to_s].invert),:include_blank => true) %>
    <% end %>
    
    <%= field_for :closed_date do |key, label| %>
      <%= label_tag{label} %>
      <%= text_field_tag "#{key}_from",'',:size=>'10' %><%= calendar_for("#{key}_from") %>
      ～
      <%= text_field_tag "#{key}_to",'',:size=>'10' %><%= calendar_for("#{key}_to") %>
    <% end %>
    <%= field_for :status do |key, label| %>
      <%= label_tag{label} %>
      <%= select_tag(key, options_for_select(@shelter_const[key.to_s].invert),:include_blank => true) %>
    <% end %>
  </div>
</div>

<div class="splitcontent">
  <div class="split3contentleft">
    <%= field_for :households do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :upper_care_level_three_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :bedridden_elderly_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :physical_disability_certificate_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
  </div>
  
  <div class="split3contentcenter">
    <%= field_for :head_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :elderly_alone_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :elderly_dementia_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
  </div>
  
  <div class="split3contentright">
    <%= field_for :injury_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :elderly_couple_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
    
    <%= field_for :rehabilitation_certificate_count do |key, label| %>
      <%= label_tag{label} %>
      ＞
      <%= text_field_tag key,'',:size=>'10' %>
    <% end %>
  </div>
</div>

<div class="nonsplitcontent">
  <%= field_for :note do |key, label| %>
    <%= label_tag{label} %>
    <%= text_field_tag key,'',:size=>'50' %>
  <% end %>
</div>

<% include_calendar_headers_tags %>
