<% html_title l(:label_shelter_plural) -%>

<h2><%= l(:label_shelter_plural) %></h2>
<p><%= l(:document_id) + ": " + (@edition_management.present? ? @edition_management.uuid.to_s : "") %></p>
<p><%= l(:document_revision) + ": " + (@edition_management.present? ? @edition_management.edition_num.to_s : "") %></p>
<%= error_messages_for_shelters(@shelters) %>

<%= form_for @search, :url => project_shelters_search_path, :html => {:method => :post} do |f| %>
  <%= hidden_field_tag "commit_kind" %>
  
  <fieldset class="collapsible">
    <legend id="shelter_search_conditions" onclick="toggleFieldset(this);">
      <%= l(:label_search_condition_plural) %>
    </legend>
    <div class="search_condition tabular">
      <%= render :partial => 'search_conditions', :locals => {:f => f, :project => @project} %>
      <%= submit_tag l(:label_search), :kind => "search" %>
      <%= submit_tag l(:button_clear), :kind => "clear" %>
    </div>
  </fieldset>
  
  <div class="splitcontent">
    <div class="splitcontentleft">
    </div>
    
    <div class="splitcontentright">
      <p style="text-align: right;">
        <% if authorize_for(:shelters, :new) # 権限判定 %>
          <%= submit_tag l(:button_new_shelter), :kind => "new" %>
        <% end %>
        <% if authorize_for(:shelters, :bulk_update) # 権限判定 %>
          <%= submit_tag l(:button_bulk_update), :kind => "bulk_update", :confirm => l(:text_shelter_update_confirmation) %>
        <% end %>
        <% if authorize_for(:shelters, :ticket) # 権限判定 %>
         <%= submit_tag l(:button_ticket), :kind => "ticket", :confirm => l(:button_ticket_confirm) %>
        <% end %>
      </p>
      <p style="text-align: right;">
        <%= will_paginate @shelters, :previous_label => "前 &lt;&lt; ",
          :next_label => " &gt;&gt; 次", :page_links => false,
          :link_separator => "#{page_entries_info @shelters}",
          :container => false, :params => {:search => params[:search]} %>
      </p>
    </div>
  </div>
  
  <div class="autoscroll">
    <%= render :partial => 'list', :locals => {:project => @project, :shelters => @shelters} %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    // Submitボタン切り替え
    $(":submit").bind("click", function() {
      $("#commit_kind").val($(this).attr("kind"));
    });
    // 検索条件を初期表示時に非表示にする
    $("#shelter_search_conditions").click();
  });
  
  // 避難所一覧行リンククリック処理
  $(function($) {
    $('tr[data-href]').addClass('clickable').click(function(e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  });
<% end %>
