<%= stylesheet_link_tag params[:controller], :plugin => 'lgdis' %>
<% html_title l(:label_shelter_plural) -%>

<h2><%= l(:label_shelter_plural) %></h2>

<%= form_for @search, :url => project_shelters_path, :html => {:method => :get} do |f| %>
<fieldset class="collapsible" >
  <legend onclick="toggleFieldset(this);"><%= l(:label_search_condition_plural) %></legend>
  <div class="search_condition tabular">
    <%= render :partial => 'search_conditions', :locals => {:f => f, :project => @project} %>
  </div>
</fieldset>
<%= submit_tag l(:label_search) %>
<input type="button" value=<%= l(:button_clear) %> onclick="window.location='<%= url_for :action => 'index' %>'; return false;">
  <% if authorize_for(:shelters, :new) # 権限判定 %>
    <input type="button" value=<%= l(:button_new) %> onclick="window.location='<%= url_for :action => 'new' %>'; return false;">
  <% end %>
<% end %>

<p style="text-align: right;">
  <%= will_paginate @shelters, :previous_label => "前 &lt;&lt; ",
    :next_label => " &gt;&gt; 次", :page_links => false,
    :link_separator => "#{page_entries_info @shelters}",
    :container => false %>
</p>

<div class="autoscroll">
  <%= render :partial => 'list', :locals => {:project => @project, :shelters => @shelters} %>
</div>

<%= javascript_tag do %>
  // 避難所一覧行リンククリック処理
  $(function($) {
    $('tr[data-href]').addClass('clickable').click(function(e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  });
<% end %>
