<% html_title l(:label_shelter_new) -%>

<%= form_for @shelter, :url => {:action => :create, :project_id => @project} do |f| %>
  <h2>
    <%= l(:label_shelter_new) %>
    <span style="float: right;">
      <%= f.submit l(:button_save), :confirm => l(:button_curd_confirm) %>
      <input type="button" value="<%= l(:button_back) %>" onclick="window.location='<%= url_for :action => :index, :project_id => @project %>';">
    </span>
  </h2>

  <p><%= l(:document_id) + ": " + (@edition_management.present? ? @edition_management.uuid.to_s : "") %></p>
  <p><%= l(:document_revision) + ": " + (@edition_management.present? ? @edition_management.edition_num.to_s : "") %></p>

  <div class="box tabular">
    <div id="all_attributes">
      <%= f.hidden_field :created_by, :value => User.current.login %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
  </div>
<% end %>
