<div style="display:none;"></div><%# IE8のバグで、fieldsetがうまく描画されないため、ダミーで要素追加 %>
<fieldset class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_ext_out_field) %></legend>
  <div>
  <%= form_tag(:action => :request_delivery) do %>
    <p><strong><label><%= l(:label_delivery_place) %>:</label></strong></p>
    <div class="tabular">
      <% unless @destination_list.blank? %>
        <%
          checked = []
          if @ext_out_target.nil? # 初期表示時
            (DST_LIST["delivery_place_default"][@issue.tracker_id] || []).each {|i| checked << i["id"] } 
          else  # 再表示時
            checked = @ext_out_target.map(&:to_i)
          end
        %>
        <% @destination_list.each do |dest|%>
          <label class="flt"><%= check_box_tag "ext_out_target[]", dest['id'], checked.include?( dest['id'] ) ? true : false %><%= dest['name'] %></label>
        <% end %>
      <% end %>
      <div style="clear:both;"></div>
    </div>

    <p><strong><label><%= l(:label_control_plane_settings) %>:</label></strong></p>
    <div class="search_condition tabular">
      <div class="splitcontent">
          <p>
            <label>情報のタイトル</label>
            <%= text_field_tag 'issue[mail_subject]',@issue.mail_subject, {:size => "95"} %>
          </p>

          <p>
            <label>情報の見出し要約文</label>
            <%= text_area_tag 'issue[summary]', @issue.summary, {:size => "95x5"} %>
          </p>
      </div>
    </div>


    <div class="search_condition tabular">
      <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
            <label>情報の更新種別</label>
            <%= select_tag 'issue[type_update]',
              options_for_select(@issue_const["type_update"].invert, @issue.type_update) %>
          </p>
          <% if DST_LIST["general_info_ids"].include?(@issue.tracker_id) %>
            <p>
              <label>情報の識別区分</label>
              <%= select_tag 'issue[disaster_info_type]',
                options_for_select(@issue_const["disaster_info_type"].invert, @issue.disaster_info_type) %>
            </p>
          <% end %>
        </div>
        <div class="splitcontentright">
          <p>
            <label>情報の取消時の説明文</label>
            <%= text_area_tag 'issue[description_cancel]', @issue.description_cancel, {:size => "20x5"} %>
          </p>
        </div>
      </div>
    </div>

    <div class="search_condition tabular">
      <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
            <label>情報の発表日時</label>
            <%= text_field_tag "issue[published_at]", format_time_for_input(@issue, :published_at), :size=>'16' %><%= calendar_with_time_for("issue_published_at") %>
          </p>
        </div>
        <div class="splitcontentright">
          <p>
            <label>情報の配信対象地域</label>
            <%= select_tag 'issue[delivered_area][]',
              options_for_select(@area.invert, (@issue.delivered_area ||"").split(",") ),
              {:multiple => true, :size =>3} %>
            <%= hidden_field_tag 'issue[delivered_area][]', '' %><%# select_tagヘルパーで複数選択可の場合、未選択時にpostされないため（selectヘルパーの場合は、ヘルパーで自動的にhidden項目が追加されるので問題無し） %>
          </p>
        </div>
      </div>
    </div>

    <div class="search_condition tabular">
      <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
            <label>情報の公開開始日時</label>
            <%= text_field_tag "issue[opened_at]", format_time_for_input(@issue, :opened_at), :size=>'16' %><%= calendar_with_time_for("issue_opened_at") %>
          </p>
        </div>
        <div class="splitcontentright">
          <p>
            <label>情報の公開終了日時</label>
            <%= text_field_tag "issue[closed_at]", format_time_for_input(@issue, :closed_at), :size=>'16' %><%= calendar_with_time_for("issue_closed_at") %>
          </p>
        </div>
      </div>
    </div>
    <div class="search_condition tabular">
      <div class="splitcontent">
        <div class="splitcontentleft">
          <input type='submit'  value='<%= l(:request_delivery) %>' onclick='return confirm("<%= l(:button_delivery_confirm) %>");'/>
        </div>
      </div>
    </div>
  <% end %>


  <p><strong><label><%= l(:label_delivery_status) %>:</label></strong></p>
      <% unless @delivery_histories.blank? %>
        <div class="table_border">
          <label class="label_border_updated_title">要求日時</label>
          <label class="label_border_opened_title">公開開始日時</label>
          <label class="label_border_delivery_place_title">配信先</label>
          <label class="label_border_status_title">ステータス</label>
          <label class="label_border_command_title">コマンド</label>
        </div>
        <% @delivery_histories.each do | d_h | %>
        <div class="table_border">
          <label class="label_border_updated"><%= tm_fmt_delivery(d_h.updated_at) %></label>
          <label class="label_border_opened"><%= tm_fmt_delivery(d_h.opened_at) %></label>
          <label class="label_border_delivery_place">
            <%= DST_LIST['delivery_place'][d_h.delivery_place_id]['name'] %>
          </label>
          <label class="label_border_status"><%= l(d_h.status, :scope => "delivery_status") %></label>
          <label class="label_border_command">
            <% if d_h.allow_delivery? %>
            <%= link_to "配信確認", {:controller => "deliver_issues",
                                     :action => "index",
                                     :project_id => @project,
                                     :issue => @issue,
                                     :delivery_history_id=>d_h.id} %>
            <% end %>
            <br>
          </label>
        </div>
        <% end %>
      <% end %>
  <hr />
  </div>
</fieldset>
