<fieldset class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:ext_out_field) %></legend>
  <div>
    <div class="splitcontentleft">
      <p><strong><label><%= l(:delivery_place) %>:</label></strong></p>
      <%= form_tag("/deliver_issues/deliver_request") do %>
         <nobr>
           <%= hidden_field_tag :issue_id, @issue.id %>
           <%= hidden_field_tag :current_user, User.current %>
           <%= check_box_tag "ext_out_target[]",'1' %><label><%= l(:commons) %></label>
           <%= check_box_tag "ext_out_target[]",'2' %><label><%= l(:machicomi) %></label>
           <%= check_box_tag "ext_out_target[]",'3' %><label><%= l(:twitter) %></label>
           <%= check_box_tag "ext_out_target[]",'4' %><label><%= l(:facebook) %></label>
           <%= submit_tag "配信要求"%>
        </nobr>
      <% end %>
    </div>
  </div>
</fieldset>
<hr />
