<% if issue.new_record? %>
<%= javascript_tag do %>
  $(function(){
    <% issue.editable_custom_field_values.each do |cfv|
        cf = cfv.custom_field
        next unless cf.is_default_all_selected == true
        next unless cfv.value[0].nil? %>
    $("#<%= "issue_custom_field_values_#{cf.id}" %> option").prop("selected",true);
    <% end -%>
  });
<% end %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "gmap", :plugin => "lgdis" %>
  <%= stylesheet_link_tag 'issue', :plugin => 'lgdis' %>
<% end %>
<%= javascript_tag do %>
  // GoogleMaps
  $(function(){
    <% cf_values = issue.editable_custom_field_values.select{|cf| cf.custom_field.field_format=='address'} %>
    <% cf_values.each do |cf_value|
        cf_field_id = "issue_custom_field_values_#{cf_value.custom_field.id}" %>
    $("#<%= cf_field_id %>2").after("\
      <span id='<%= cf_field_id %>_map_show_link'>\
        <a href='#' onclick=\"toggleClickableMap('<%= cf_field_id %>_map','<%= cf_field_id %>0'); return false;\">\
          <img class=\"ui-datepicker-trigger\" src=\"/plugin_assets/lgdis/images/gmap.png\" alt=\"<%= l(:button_map_show) %>\">\
        </a>\
      </span>\
      <span id='<%= cf_field_id %>_map_hide_link' style='display: none'>\
        <a href='#' onclick=\"clearMap('<%= cf_field_id %>_map'); return false;\">\
          <img class=\"ui-datepicker-trigger\" src=\"/images/cancel.png\" alt=\"<%= l(:button_map_hide) %>\">\
        </a>\
      </span>\
      <div id='<%= cf_field_id %>_map' class='input_map' style='display: none'></div>\
    ");
    <% end -%>
  });

	// Google Fusion Tablesデータ取得＆画面セット
	// target: 更新対象のエレメント(0=大分類、1=中分類、2=小分類) ※必須
	// dai_id, tyu_id, syo_id: 各プルダウンのエレメントID ※必須
	// dai: 大分類, tyu: 中分類 ※任意
	function get_gft(target, dai_id, tyu_id, syo_id, dai, tyu) {
		var sel, whe, target_id;
		if (target == 0) {
			sel = 'area_dai';
			whe = '';
			target_id = $(dai_id);
		} else if (target == 1) {
			sel = 'area_tyu';
			whe = "WHERE area_dai='" + dai + "'";
			target_id = $(tyu_id);
		} else if (target == 2) {
			sel = 'area_syo';
			whe = "WHERE area_dai='" + dai + "' AND area_tyu='" + tyu + "'";
			target_id = $(syo_id);
		}
		var query_string = 'SELECT '+sel+' FROM '+GOOGLE_FT_KEY+' '+whe+' GROUP BY '+sel+'';
		var uri_string = 'http://www.google.com/fusiontables/gvizdata?tq=' + encodeURIComponent(query_string);
		var query = new google.visualization.Query(uri_string);
		query.send(function(response) {
			if (!response.isError()) {
				select = target_id;
				select.empty();
				select.append($("<option>").html('-----').attr({value: ''}));
				var result_count = response.getDataTable().getNumberOfRows();
				for (var i = 0; i < result_count; i++) {
					var value = response.getDataTable().getValue(i, 0);
					select.append($("<option>").html(value).attr({value: value}));
				}
			} else {
				console.log("ERROR:");
				console.log(response.getMessage());
				console.log(" "+response.getDetailedMessage());
				for (var j = 0; j < response.getReasons().length; j++) {
					console.log(" "+response.getReasons()[j]);
				}
				console.log("-----");
			}
		});
	}

	// connection
	google.load('visualization', '1');
	<% CF_CONNECT.each do |connections| %>
    <% area1, area2, area3 = connections %>
	function get_connection_data() {
		var select;
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---dai
		select = $(dai_id);
		get_gft(0, dai_id, tyu_id, syo_id);
		select.val('');
		select.change(reselect2);
		// ---tyu
		select = $(tyu_id);
		select.empty();
		select.append($("<option>").html('-----').attr({value: ''}));
		// ---syo
		select = $(syo_id);
		select.empty();
		select.append($("<option>").html('-----').attr({value: ''}));
	}
	function reselect2() {
		var select;
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---tyu
		select = $(tyu_id);
		get_gft(1, dai_id, tyu_id, syo_id, $(dai_id).val());
		select.val('');
		select.change(reselect3);
		// ---syo
		select = $(syo_id);
		select.empty();
		select.append($("<option>").html('-----').attr({value: ''}));
	}
	function reselect3() {
		var select;
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---syo
		select = $(syo_id);
		get_gft(2, dai_id, tyu_id, syo_id, $(dai_id).val(), $(tyu_id).val());
		select.val('');
	}
	<% end # end of CF_CONNECT.each %>
	google.setOnLoadCallback(get_connection_data);
<% end %>
