<% content_for :header_tags do %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&language=ja&v=3&client=#{API_KEY["google_map"]["client_id"]}" %>
  <%= javascript_tag do %>
    var GOOGLE_FT_KEY = '<%= CF_ADDRESS["google_fusion_tables"]["id"] %>'; // FusionTablesのテーブルID
  <% end %>
  <%= javascript_include_tag "gmap", :plugin => "lgdis" %>
<% end %>
<%= javascript_tag do %>
  var DEFAULT_MAP_CENTER = new google.maps.LatLng(<%= MAP_VALUES['ishi_lat'] %>,<%= MAP_VALUES['ishi_lon'] %>);
  $(function(){
    // input support by google-maps for 3 areas
    <% urlpart_prefix = ENV['RAILS_RELATIVE_URL_ROOT'].to_s %>
    <% CF_ADDRESS["custom_field_address"].each do |cf_value|
       cf_value[0,3].zip(['dai','tyu','syo']).each_with_index do |item, index|
         fid, type = item
         fid_map = "#{fid}_map"
         fid_text = "issue_custom_field_values_#{fid}"
    %>
    $("#<%= fid_text %>").after("\
       <span id=\"<%= fid_map %>_show_link\">\
         <img class=\"ui-datepicker-trigger\" src=\"<%= urlpart_prefix -%>/plugin_assets/lgdis/images/gmap.png\" alt=\"<%= l(:button_map_show) %>\" onclick=\"showMap('<%= fid_map %>',<%= CF_ADDRESS["zoom_rate"][index] %>,'issue_custom_field_values_<%= cf_value[0] %>','issue_custom_field_values_<%= cf_value[1] %>','issue_custom_field_values_<%= cf_value[2] %>', '<%= type %>'); return false;\">\
       </span>\
       <span id=\"<%= fid_map %>_hide_link\" style=\"display: none\">\
         <img class=\"ui-datepicker-trigger\" src=\"<%= urlpart_prefix -%>/images/cancel.png\" alt=\"<%= l(:button_map_hide) %>\" onclick=\"clearMap('<%= fid_map %>'); return false;\">\
       </span>\
       <div id=\"<%= fid_map %>\" class=\"input_map\" style=\"display: none\"></div>\
    ");
    <% end -%>
    // convert address to area
    <% fid_text = "issue_custom_field_values_#{cf_value[3]}" %>
    $("#<%= fid_text %>").after("\
       <span>\
         <img class=\"ui-datepicker-trigger\" src=\"<%= urlpart_prefix -%>/plugin_assets/lgdis/images/gmap.png\" alt=\"<%= l(:button_area_get) %>\" onclick=\"getArea('<%= fid_text %>','issue_custom_field_values_<%= cf_value[0] %>', 'issue_custom_field_values_<%= cf_value[1] %>','issue_custom_field_values_<%= cf_value[2] %>'); return false;\">\
       </span>\
    ");
    <% end -%>
  });

	// Google Fusion Tablesデータ取得＆画面セット
	// target: 更新対象のエレメント(0=大分類、1=中分類、2=小分類) ※必須
	// default_value: 更新対象のデフォルト値
	// dai_id, tyu_id, syo_id: 各プルダウンのエレメントID ※必須
	// dai: 大分類, tyu: 中分類 ※任意
	function get_gft(target, default_value, dai_id, tyu_id, syo_id, dai, tyu) {
		var sel, whe, target_id;
		if (target == 0) {
			sel = 'area_dai';
			whe = '';
			target_id = $(dai_id);
		} else if (target == 1) {
			sel = 'area_tyu';
			whe = "WHERE area_dai='" + dai + "'";
			target_id = $(tyu_id);
		} else if (target == 2) {
			sel = 'area_syo';
			whe = "WHERE area_dai='" + dai + "' AND area_tyu='" + tyu + "'";
			target_id = $(syo_id);
		}
		var query_string = 'SELECT '+sel+' FROM '+GOOGLE_FT_KEY+' '+whe+' GROUP BY '+sel+'';
		var uri_string = 'http://www.google.com/fusiontables/gvizdata?tq=' + encodeURIComponent(query_string);
		var query = new google.visualization.Query(uri_string);
		query.send(function(response) {
			if (!response.isError()) {
				select = target_id;
				select.empty();
				select.append($("<option>").html('-----').attr({value: ''}));
				var result_count = response.getDataTable().getNumberOfRows();
				for (var i = 0; i < result_count; i++) {
					var value = response.getDataTable().getValue(i, 0);
					select.append($("<option>").html(value).attr({value: value}));
				}
				if (default_value) select.val(default_value);
				if (target==0) reselect2();
				if (target==1) reselect3();
			} else {
				console.log("ERROR:");
				console.log(response.getMessage());
				console.log(" "+response.getDetailedMessage());
				for (var j = 0; j < response.getReasons().length; j++) {
					console.log(" "+response.getReasons()[j]);
				}
			}
		});
	}

	// Google Fusion TablesからLatLngに該当するエリアデータ取得＆画面セット
	// latlng: 入力文字から取得した座標 ※必須
	// dai_id, tyu_id, syo_id: 各プルダウンのエレメントID ※必須
	function get_gft_address(latlng, dai_id, tyu_id, syo_id) {
		var query_string = 'SELECT area_dai,area_tyu,area_syo FROM '+GOOGLE_FT_KEY+' WHERE ST_INTERSECTS(kml, CIRCLE(LATLNG('+latlng.lat()+','+latlng.lng()+'),1.0))';
		var uri_string = 'http://www.google.com/fusiontables/gvizdata?tq=' + encodeURIComponent(query_string);
		var query = new google.visualization.Query(uri_string);
		query.send(function(response) {
			if (!response.isError()) {
				var result_count = response.getDataTable().getNumberOfRows();
				if (result_count > 0) {
					var result = response.getDataTable();
					$("#"+dai_id).val(result.getValue(0, 0));
					$("#"+tyu_id).val(result.getValue(0, 1));
					$("#"+syo_id).val(result.getValue(0, 2));
				} else {
					console.log("ERROR: no row(s) found.");
				}
			} else {
				console.log("ERROR:");
				console.log(response.getMessage());
				console.log(" "+response.getDetailedMessage());
				for (var j = 0; j < response.getReasons().length; j++) {
					console.log(" "+response.getReasons()[j]);
				}
			}
		});
	}

	google.load('visualization', '1');
	// connection
	<% CF_CONNECT.each do |connections| %>
    <% area1, area2, area3 = connections %>
    <% area1_text = CustomValue.find_by_custom_field_id_and_customized_type_and_customized_id(area1, "Issue", issue.id).try(:value) %>
    <% area2_text = CustomValue.find_by_custom_field_id_and_customized_type_and_customized_id(area2, "Issue", issue.id).try(:value) %>
    <% area3_text = CustomValue.find_by_custom_field_id_and_customized_type_and_customized_id(area3, "Issue", issue.id).try(:value) %>
	// Google Fusion Tablesで絞り込み入力補助(大分類)
	function get_connection_data() {
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---dai
		get_gft(0, '<%= area1_text %>', dai_id, tyu_id, syo_id);
		$(dai_id).change(reselect2);
	}
	// Google Fusion Tablesで絞り込み入力補助(中分類)
	function reselect2() {
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---tyu
		get_gft(1, '<%= area2_text %>', dai_id, tyu_id, syo_id, $(dai_id).val());
		$(tyu_id).change(reselect3);
	}
	// Google Fusion Tablesで絞り込み入力補助(小分類)
	function reselect3() {
		var dai_id = "#issue_custom_field_values_<%= area1 %>"
		var tyu_id = "#issue_custom_field_values_<%= area2 %>"
		var syo_id = "#issue_custom_field_values_<%= area3 %>"
		// ---syo
		get_gft(2, '<%= area3_text %>', dai_id, tyu_id, syo_id, $(dai_id).val(), $(tyu_id).val());
	}
	<% end # end of CF_CONNECT.each %>
	google.setOnLoadCallback(get_connection_data);
<% end %>
