<%= form_tag("/deliver_issues/allow_delivery") do %>
<%= hidden_field_tag :issue_id, @issue.id %>
<%= hidden_field_tag 'id', @delivery_history.id %>
<%= hidden_field_tag :project_id, @issue.project.identifier %>
<table class="dellist">
  <thead>
    <tr>
      <th style="text-align: left">チケット番号 :</th>
      <th style="text-align: left"><%= @issue.id %></th>
    </tr>
    <tr>
      <th style="text-align: left">配信先 :</th>
      <th style="text-align: left">
        <%= DST_LIST['destination_name'][@delivery_history.delivery_place_id] %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">配信内容 1 :</th>
      <th style="text-align: left">
      <%= @issue.description %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">配信内容 2 :</th>
      <th style="text-align: left">
      <%= @issue.custom_field_value_by_id(DST_LIST['content_delivery']['summary']) %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">チケット作成日 :</th>
      <th style="text-align: left">
        <%= @issue.created_on.strftime("%Y-%m-%d %H:%M:%S") %>
      </th>
    </tr>
  <thead>
</table>
  <%= submit_tag l(:allow),  :name=>'allow' %>
  <%= submit_tag l(:reject), :name=>'reject' %>
<% end %>
