<%= form_tag(:controller => :deliver_issues, :action => :allow_delivery) do %>
<%= hidden_field_tag 'id',        @delivery_history.id %>
<%= hidden_field_tag :issue_id,   @issue.id %>
<%= hidden_field_tag :project_id, @issue.project.identifier %>
<table class="dellist">
  <thead>
    <tr>
      <th style="text-align: left">チケット番号 :</th>
      <th style="text-align: left"><%= @delivery_history.issue_id %></th>
    </tr>
    <tr>
      <th style="text-align: left">配信先 :</th>
      <th style="text-align: left">
        <%= DST_LIST['delivery_place'][@delivery_history.delivery_place_id]['name'] %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">情報のタイトル :</th>
      <th style="text-align: left"><%= @delivery_history.mail_subject %></th>
    </tr>
  <% if DST_LIST['delivery_place_group_deployed_mail'].map{|o| o["id"]}.include?(@delivery_history.delivery_place_id) || @delivery_history.delivery_place_id == 8 %>
    <tr>
      <th style="text-align: left">説明 :</th>
      <th style="text-align: left">
        <%= text_area_tag '', @issue.description, {:readonly=>true,:size => "100x30"} %>
      </th>
    </tr>
  <% else %>
    <tr>
      <th style="text-align: left">情報の見出し要約文 :</th>
      <th style="text-align: left">
        <%= text_area_tag '', @delivery_history.summary, {:readonly=>true,:size => "100x30"} %>
      </th>
    </tr>
  <% end %>
    <tr>
      <th style="text-align: left">情報の更新種別 :</th>
      <th style="text-align: left"><%= @issue_const["type_update"][@delivery_history.type_update] %></th>
    </tr>
  <% if DST_LIST["general_info_ids"].include?(@issue.tracker_id) %>
    <tr>
      <th style="text-align: left">情報の識別区分 :</th>
      <th style="text-align: left"><%= @issue_const["disaster_info_type"][@delivery_history.disaster_info_type] %></th>
    </tr>
  <% end %>
    <tr>
      <th style="text-align: left">情報の発表日時 :</th>
      <th style="text-align: left">
      <%= format_time(@delivery_history.published_at) %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">情報の配信対象地域 :</th>
      <th style="text-align: left"><%== format_delivered_area %></th>
    </tr>
    <tr>
      <th style="text-align: left">情報の公開開始日時 :</th>
      <th style="text-align: left">
      <%= format_time(@delivery_history.opened_at) %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">情報の公開終了日時 :</th>
      <th style="text-align: left">
      <%= format_time(@delivery_history.closed_at) %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">情報の取消時の説明文 :</th>
      <th style="text-align: left">
        <%= text_area_tag '', @delivery_history.description_cancel, {:readonly=>true,:size => "100x30"} %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">チケット作成日 :</th>
      <th style="text-align: left">
        <%= format_time(@issue.created_on) %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">要求者 :</th>
      <th style="text-align: left"><%= User.current.name %></th>
    </tr>
  <thead>
</table>
  <% if allow_delivery_permission?(@issue) %>
    <% if @delivery_history.allow_delivery_control? %>
      <input class="sbutton" value="戻る" onclick="history.back()" type="button" />
      <%= submit_tag l(:button_cancellation), :name=>'reject', :confirm => l(:button_delivery_confirm_cancellation) %>
    <% else %>
      <%= submit_tag l(:button_allow), :name=>'allow', :confirm => l(:button_delivery_confirm_allow) %>
      <%= submit_tag l(:button_reject), :name=>'reject', :confirm => l(:button_delivery_confirm_reject) %>
    <% end %>
  <% else %>
    <input class="sbutton" value="戻る" onclick="history.back()" type="button" />
    <%= submit_tag l(:button_cancellation), :name=>'reject', :confirm => l(:button_delivery_confirm_cancellation) %>
  <% end %>
<% end %>
