<%= stylesheet_link_tag 'deliver_issues', :plugin => 'lgdis' %>
<%= form_tag(:controller => :deliver_issues, :action => :allow_delivery) do %>
<%= hidden_field_tag 'id',        @delivery_history.id %>
<%= hidden_field_tag :issue_id,   @issue.id %>
<%= hidden_field_tag :project_id, @issue.project.identifier %>
<table class="dellist">
  <thead>
    <tr>
      <th style="text-align: left">チケット番号 :</th>
      <th style="text-align: left"><%= @issue.id %></th>
    </tr>
    <tr>
      <th style="text-align: left">配信先 :</th>
      <th style="text-align: left">
        <%= DST_LIST['delivery_place'][@delivery_history.delivery_place_id]['name'] %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">配信内容 :</th>
      <th style="text-align: left">
        <%= text_area_tag 'contents', @summary, {:readonly=>true,:size => "100x30"} %>
      </th>
    </tr>
    <tr>
      <th style="text-align: left">チケット作成日 :</th>
      <th style="text-align: left">
        <%= @issue.created_on.strftime("%Y-%m-%d %H:%M:%S") unless @issue.created_on.blank? %>
      </th>
    </tr>
  <thead>
</table>
  <% if check_admin(@issue) %>
    <%= submit_tag l(:allow), :name=>'allow' %>
  <% else %>
    <input class="sbutton" value="登録" onclick="history.back()" type="button" />
  <% end %>
  <%= submit_tag l(:reject), :name=>'reject' %>
<% end %>
