<%= error_messages_for 'evacuation_advisory' %>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :area, :required => true do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'50',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :area_kana do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'50',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :district do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@area.invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :sort_criteria, :required => true do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@evacuation_advisory_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :issue_or_lift do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@evacuation_advisory_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
  </div>

  <div class="splitcontentright">
    <%= field_for :issued_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field :issued_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_issued_date") unless @disabled %>
      <%= f.text_field :issued_hm,:size=>'5',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :lifted_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field :lifted_date,:size=>'10',:disabled => @disabled %><%= calendar_for("#{f.object_name}_lifted_date") unless @disabled %>
      <%= f.text_field :lifted_hm,:size=>'5',:disabled => @disabled %>
    <% end %>

    <%= field_for :households do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :head_count do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
  </div>
</div>

<hr>

<div class="splitcontent">
  <div class="splitcontentleft">
    <%= field_for :advisory_type do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@evacuation_advisory_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :category do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select key, options_for_select(@evacuation_advisory_const[key.to_s].invert, f.object.send(key)),{:include_blank => true},:disabled => @disabled %>
    <% end %>
    
    <%= field_for :cause do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :headline do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :message do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :emergency_hq_needed_prefecture do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
    
    <%= field_for :emergency_hq_needed_city do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
  </div>

  <div class="splitcontentright">
    <%= field_for :alert do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :alerting_area do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :siren_area do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :evacuation_order do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :evacuate_from do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :evacuate_to do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>

    <%= field_for :evacuation_steps_by_authorities do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'70',:disabled => @disabled %>
    <% end %>
  </div>
</div>
<p/>
  <div class="split3contentleft">
    <%= field_for :staff_no do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'10',:disabled => @disabled %>
    <% end %>
  </div>
  <div class="split3contentcenter">
    <%= field_for :full_name do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
  </div>
  <div class="split3contentright">
    <%= field_for :alias do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field key,:size=>'30',:disabled => @disabled %>
    <% end %>
  </div>


<div class="nonsplitcontent">
  <%= field_for :remarks do |key, label| %>
    <%= label_tag{label} %>
    <%= f.text_area key,:size=>'70x4',:disabled => @disabled %>
  <% end %>
</div>
  
<% include_calendar_headers_tags %>
