<table class="list">
  <thead>
    <tr>
      <th style="text-align: center;">地区名</th>
      <th style="text-align: center;">発令・解除地区名称</th>
      <th style="text-align: center;">発令区分</th>
      <th style="text-align: center;">発令・解除区分</th>
      <th style="text-align: center;">発令日時</th>
      <th style="text-align: center;">解除日時</th>
      <th style="text-align: center;">対象世帯数</th>
      <th style="text-align: center;">対象人数</th>
    </tr>
  </thead>
  <tbody>
    <% evacuation_advisories.each do |evacuation_advisory| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td style="text-align: center;">
          <%= @areas.select{|v| v.area_code == evacuation_advisory.district}.first.try(:name) %>
        </td>
        <td style="text-align: center;">
          <a href=<%= edit_project_evacuation_advisory_path(@project, evacuation_advisory) %> >
            <%= evacuation_advisory.area %>
          </a>
        </td>
        <td style="text-align: center;">
          <%= select_tag "evacuation_advisories[#{evacuation_advisory.id}][sort_criteria]", options_for_select(@evacuation_advisory_const["sort_criteria"].invert, evacuation_advisory.sort_criteria), {:include_blank => true, :disabled => @disabled} %>
        </td>
        <td style="text-align: center;">
          <%= select_tag "evacuation_advisories[#{evacuation_advisory.id}][issueorlift]", options_for_select(@evacuation_advisory_const["issueorlift"].invert, evacuation_advisory.issueorlift), {:include_blank => true, :disabled => @disabled} %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][issued_date]", evacuation_advisory.issued_date, :size => "10", :disabled => @disabled %>
          <%= calendar_for("evacuation_advisories_#{evacuation_advisory.id}_issued_date") %>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][issued_hm]", evacuation_advisory.issued_hm, :size => "5", :disabled => @disabled %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][lifted_date]", evacuation_advisory.lifted_date, :size => "10", :disabled => @disabled %>
          <%= calendar_for("evacuation_advisories_#{evacuation_advisory.id}_lifted_date") %>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][lifted_hm]", evacuation_advisory.lifted_hm, :size => "5", :disabled => @disabled %>
        </td>
        <td style="text-align: center;"><%= evacuation_advisory.households %></td>
        <td style="text-align: center;"><%= evacuation_advisory.head_count%></td>
      </tr>
    <% end if evacuation_advisories.present? %>
  </tbody>
</table>

