<table class="list">
  <thead>
    <tr>
<!--       <th style="text-align: center;">発令・解除地区名称（中域）</th> -->
      <th style="text-align: center;">発令・解除地区名称</th>
      <th style="text-align: center;">発令区分</th>
      <th style="text-align: center;">発令日時</th>
      <th style="text-align: center;">解除日時</th>
      <th style="text-align: center;">対象世帯数</th>
      <th style="text-align: center;">対象人数</th>
    </tr>
  </thead>
  <tbody>
    <% evacuation_advisories.each do |evacuation_advisory| %>
      <tr class="<%= cycle("even", "odd") -%>">
<!--         <td style="text-align: center;"> -->
<!--           <%= @sections.select{|v| v.section_code == evacuation_advisory.section}.first.try(:name) %> -->
<!--         </td> -->
        <td style="text-align: center;">
          <a href=<%= edit_project_evacuation_advisory_path(@project, evacuation_advisory) %> >
            <%= evacuation_advisory.area %>
          </a>
        </td>
        <td style="text-align: center;">
          <% @evacuation_advisory_const["current_sort_criteria"].each do |key, value| %>
            <%= radio_button_tag "evacuation_advisories[#{evacuation_advisory.id}][current_sort_criteria]", key, (evacuation_advisory.current_sort_criteria==key), :disabled => @disabled -%>
            <%= label_tag "evacuation_advisories[#{evacuation_advisory.id}][current_sort_criteria]_#{key}", value %>
          <% end %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][issued_at]", format_time_for_input(evacuation_advisory, :issued_at), :size => "16", :disabled => @disabled %>
          <%= calendar_with_time_for("evacuation_advisories_#{evacuation_advisory.id}_issued_at") %>
        </td>
        <td style="text-align: center;" nowrap>
          <%= text_field_tag "evacuation_advisories[#{evacuation_advisory.id}][lifted_at]", format_time_for_input(evacuation_advisory, :lifted_at), :size => "16", :disabled => @disabled %>
          <%= calendar_with_time_for("evacuation_advisories_#{evacuation_advisory.id}_lifted_at") %>
        </td>
        <td style="text-align: center;"><%= evacuation_advisory.households %></td>
        <td style="text-align: center;"><%= evacuation_advisory.head_count%></td>
      </tr>
    <% end if evacuation_advisories.present? %>
  </tbody>
</table>

