<%= f.hidden_field :project_id_eq, :value => project.id %>
<div class="splitcontent">
  <div class="splitcontentleft">
<%#    避難勧告･指示種別は非表示になりました%>
<%#    <%= field_for :advisory_type do |key, label| +|%>
<%#      <%= label_tag{label} +|%>
<%#      <%= f.select("#{key}_eq", options_for_select(@evacuation_advisory_const[key.to_s].invert, @search.advisory_type_eq),:include_blank => true) +|%>
<%#    <% end +|%>

    <%= field_for :sort_criteria do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@evacuation_advisory_const[key.to_s].invert, @search.sort_criteria_eq),:include_blank => true) %>
    <% end %>

    <%= field_for :issue_or_lift do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("advisory_type_eq", options_for_select(@evacuation_advisory_const[key.to_s].invert, @search.advisory_type_eq),:include_blank => true) %>
      <%#debugger   %>
<%#      <%= f.select("#{key}_eq", options_for_select(@evacuation_advisory_const[key.to_s].invert, @search.issue_or_lift_eq),:include_blank => true) +|%>
    <% end %>

    <%= field_for :district  do |key, label| %>
      <%= label_tag{label} %>
      <%= f.select("#{key}_eq", options_for_select(@evacuation_advisory_const[key.to_s].invert, @search.district_eq),:include_blank => true) %>
    <% end %>
    
    <%= field_for :area do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field "#{key}_like", :value => @search.area_like, :size=>'50' %>
    <% end %>
    
    <%= field_for :issued_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field "#{key}_gte", :value => @search.issued_at_gte, :size=>'10' %> <%= calendar_for("search_#{key}_gte") %>
      ～
      <%= f.text_field "#{key}_lte", :value => @search.issued_at_lte, :size=>'10' %> <%= calendar_for("search_#{key}_lte") %>
    <% end %>

<%#    移行日時は非表示になりました%>
<%#    <%= field_for :changed_at do |key, label| +|%>
<%#      <%= label_tag{label} +|%>
<%#      <%= f.text_field "#{key}_gte", :value => @search.changed_at_gte, :size=>'10' +| <%= calendar_for("search_#{key}_gte") +|%>
<%#      ～%>
<%#      <%= f.text_field "#{key}_lte", :value => @search.changed_at_lte, :size=>'10' +| <%= calendar_for("search_#{key}_lte") +|%>
<%#    <% end +|%>

    <%= field_for :lifted_at do |key, label| %>
      <%= label_tag{label} %>
      <%= f.text_field "#{key}_gte", :value => @search.lifted_at_gte, :size=>'10' %><%= calendar_for("search_#{key}_gte") %>
      ～
      <%= f.text_field "#{key}_lte", :value => @search.lifted_at_lte, :size=>'10' %><%= calendar_for("search_#{key}_lte") %>
    <% end %>

  </div>
  
  <%#  webpage右の段%>
  <div class="splitcontentright">
  </div>
</div>

<div class="splitcontent">
  <div class="split3contentleft">
  </div>
  <div class="split3contentcenter">
  </div>
  <div class="split3contentright">
  </div>
</div>

<div class="nonsplitcontent">
  <%= field_for :remarks do |key, label| %>
    <%= label_tag{label} %>
		<%= f.text_field "#{key}_like", :value => @search.remarks_like, :size=>'50' %>
  <% end %>
</div>

<% include_calendar_headers_tags %>
