<% html_title l(:label_evacuation_advisory_new) -%>

<%= form_for @evacuation_advisory, :url => {:action => :update, :project_id => @project} do |f| %>
  <h2>
    <%= l(:label_evacuation_advisory_new) %>
    <span style="float: right;">
      <% if authorize_for(:evacuation_advisories, :update) # 権限判定 %>
        <%= f.submit l(:button_save), :confirm => l(:button_curd_confirm) %>
      <% end %>
      <% if authorize_for(:evacuation_advisories, :destroy) # 権限判定 %>
        <input type="button" value="<%= l(:button_delete) %>" onclick="if (window.confirm('<%= l(:text_evacuation_advisory_destroy_confirmation) %>')) window.location='<%= url_for :action => :destroy, :id => @evacuation_advisory, :project_id => @project %>'; return false;">
      <% end %>
      <input type="button" value="<%= l(:button_back) %>" onclick="window.location='<%= url_for :action => :index, :project_id => @project %>';">
    </span>
  </h2>

  <p><%= l(:document_id) + ": " + (@edition_management.present? ? @edition_management.uuid.to_s : "") %></p>
  <p><%= l(:document_revision) + ": " + (@edition_management.present? ? @edition_management.edition_num.to_s : "") %></p>

  <div class="box tabular">
    <div id="all_attributes">
      <% @disabled = true unless authorize_for(:evacuation_advisories, :update) # 権限判定 %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
  </div>
<% end %>
