<p>
  <label><%= l('external_auth.field_enable_google') %>:</label>
  <%= check_box_tag("settings[enable_external_auth_google]", true, (@settings.present? && @settings[:enable_external_auth_google])) %>
</p>
<p>
  <label><%= l('external_auth.field_enable_twitter') %>:</label>
  <%= check_box_tag("settings[enable_external_auth_twitter]", true, (@settings.present? && @settings[:enable_external_auth_twitter])) %>
</p>
<p>
  <label><%= l('external_auth.field_enable_facebook') %>:</label>
  <%= check_box_tag("settings[enable_external_auth_facebook]", true, (@settings.present? && @settings[:enable_external_auth_facebook])) %>
</p>

<p>
  <label><%= l('auto_launch_project.field_term') %>:</label>
  <%= text_field_tag("settings[term_auto_launch_project]", @settings[:term_auto_launch_project]) %>
  <em class="info"><%= l('auto_launch_project.text_term_description') %> </em>
</p>
<p>
  <label><%= l('issue_xml.field_visible') %>:</label>
  <%= check_box_tag("settings[issue_xml_visible]", true, (@settings.present? && @settings[:issue_xml_visible])) %>
</p>
